<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <label>genre </label>
      <select class="form-control form-control-lg" id="idGenre" name="idGenre" [(ngModel)]="idgenre" (change)="onChange()">
        <option *ngFor="let genre of genres" value="{{genre.idGenre}}">
          {{genre.nomGenre}}
        </option>
      </select>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Concert name</th>
              <th>Ticket Price</th>
              <th>Date</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let concert of concerts">
              <td>{{concert.idConcert}}</td>
              <td>{{concert.nomConcert}}</td>
              <td>{{concert.prixConcert}}</td>
              <td>{{concert.dateCreation | date: 'dd/MM/yyyy' }}</td>
              <td>{{concert.genre.nomGenre}}</td>
              <!-- <td><a (click)="supprimerconcert(concert)">delete</a></td>
              <td><a class="btn btn-success" [routerLink]="['/updateconcert',concert.idconcert]">Modify</a></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>