<div class="container">
    <div>
        <h2>Modify concert :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >ID concert</label>
            <input readonly type="text" [(ngModel)]="currentconcert.idConcert" name="idconcert" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Concert name</label>
            <input type="text"[(ngModel)]= "currentconcert.nomConcert" name="nomconcert" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Ticket price</label>
            <input type="number" [(ngModel)]= "currentconcert.prixConcert" name="prixconcert" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date</label>
            <input type="date" [ngModel]="currentconcert.dateCreation | date: 'yyyy-MM-dd'" (ngModelChange)=" currentconcert.dateCreation= $event" name="dateCreation" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Genre</label>
            <select class="form-control form-control-lg" id="idgenre" name="idgenre" [(ngModel)]="updatedgenreId">
                <option *ngFor="let genre of genres" [value]="genre.idGenre">
                    {{genre.nomGenre}}
                </option>
            </select>
        </div>

        <div class="mt-2">
            <button type="submit" (click)="updateConcert()" class="btn btn-success">Modify</button>
        </div>
    </form>
</div>
